src/pug/components/header.pug
header.wrappen-header.d-flex.route-element
    div.wrappen-header-block.main-content-block.d-flex
        div.wrappen-header-block-text
            h1.text-uppercase Самойленко Эдуард
            span Full-Stack Developer & Seo
        div.wrappen-header-block-social
            include ./socials

    div.wrappen-header-block.sidebar-content-block.p-null
        include ./avatar

build/components/components/header.html

<header class="wrappen-header d-flex route-element">
  <div class="wrappen-header-block main-content-block d-flex">
    <div class="wrappen-header-block-text">
      <h1 class="text-uppercase">Самойленко Эдуард</h1><span>Full-Stack Developer & Seo</span>
    </div>
    <div class="wrappen-header-block-social">
      <ul>
        <li class="d-inline-block align-middle"><a class="social-element d-block" href="https://www.linkedin.com/in/eduard9969" title="LinkedIn" rel="nofollow" target="_blank">
                  <svg class="svg-img d-inline-block align-middle">
                    <use xlink:href="/dist/images/svg/sprite.svg#linkedin"></use>
                  </svg><span class="d-inline-block align-middle">LinkedIn</span></a>
        </li>
        <li class="d-inline-block align-middle"><a class="social-element d-block" href="https://bitbucket.org/Eduard9969" title="BitBucket" rel="nofollow" target="_blank">
                  <svg class="svg-img d-inline-block align-middle">
                    <use xlink:href="/dist/images/svg/sprite.svg#bitbucket"></use>
                  </svg><span class="d-inline-block align-middle">BitBucket</span></a>
        </li>
        <li class="d-inline-block align-middle"><a class="social-element d-block" href="https://github.com/Eduard9969" title="GitHub" rel="nofollow" target="_blank">
                  <svg class="svg-img d-inline-block align-middle">
                    <use xlink:href="/dist/images/svg/sprite.svg#github"></use>
                  </svg><span class="d-inline-block align-middle">GitHub</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrappen-header-block sidebar-content-block p-null">
    <div class="header-avatar">
      <div class="header-avatar-wrap"><img src="/dist/images/avatar.jpg" title="Avatar" alt="Avatar"/></div>
    </div>
  </div>
</header>
